body {
    margin: 0;
}

.first-part {
    display: flex;
    padding: 20px 10px 20px 20px;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 30px;
}

.font-resizer {
    font-size: 25px;
}

span {
    color: orange;
}

.half-width img {
    width: 100%;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgba(228, 156, 24, 0.904), rgba(228, 73, 46, 0.842));
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
}

.second-part {
    display: flex;
    padding: 20px 10px 20px 20px;
    background-image: url(images/7.png);
    background-size: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.resize-pic {
    width: 370px;
    height: 772px;
}

.text-positioning {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 30px;
}

.text-positioning h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.text-positioning p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.recipe {
    display: flex;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 100px;
}

.box-prop {
    box-shadow: 10px 10px 40px grey;
    padding-top: 30px;
    padding-right: 30px;
    margin-left: 2%;
    border-radius: 50px;
}

.box-prop h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.box-prop p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.fourth-part {
    display: flex;
    padding-left: 250px;
    padding-bottom: 55px;
    box-shadow: 10px 10px 40px black;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 70px;
    border-radius: 25px;
}

.width {
    width: 33%;
}

.width h3 {
    font-size: 50px;
}

footer {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h3 {
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, 0.712);
    text-align: center;
}

.grey {
    color: grey;
    padding-left: 5px;
}